<header>
    MEET THE WEB DEVELOPERS
</header>

{{!-- cards --}}

<div class="scene">
    <label class="card-wrap">
        <input type="checkbox" class="flipcard">
        <div class="cardA">
            <div class="front card-face">
                {{!-- <img src="coltons pic" alt="Colton" --}}
                    class="card-photo">
            </div>
            <div class="back card-face">
                <h2>Colton Faulkner</h2>
                <h3>Backend Developer</h3>
                <h4>Nashville, TN</h4>
                <h5>Contact Me:</h5>
                {{!-- <a id="links" href="colton">GitHub</a><br> --}}
                <a id="links" href="https://www.linkedin.com/in/colton-falkner-04005931/">LinkedIn</a>
            </div>
        </div>
    </label>
    <label class="card-wrap">
        <input type="checkbox" class="flipcard">
        <div class="cardA">
            <div class="front card-face">
                {{!-- <img src="erins pic" alt="Erin" class="card-photo"> --}}
            </div>
            <div class="back card-face">
                <h2>Erin Taylor</h2>
                <h3>Front-End Developer</h3>
                <h4>Louisville, KY</h4>
                <h5>Contact Me:</h5>
                {{!-- <a id="links" href="Erins link">GitHub</a><br>
                <a id="links" href="Erin's Link ">LinkedIn</a> --}}
            </div>
        </div>
    </label>
    <label class="card-wrap">
        <input type="checkbox" class="flipcard">
        <div class="cardA">
            <div class="front card-face">
                {{!-- <img src="Jose Pic" alt="Jose" class="card-photo"> --}}
            </div>
            <div class="back card-face">
                <h2>Jose</h2>
                <h3>Backend Developer</h3>
                <h4>Nashville, TN</h4>
                <h5>Contact Me:</h5>
                {{!-- <a id="links" href="Jose Link">GitHub</a><br>
                <a id="links" href="Jose Link">LinkedIn</a> --}}
            </div>
        </div>
    </label>
</div>



{{!-- footer --}}
<footer>
    <div class="footer-top">
        <div class="container">
            <ul class="menu">

                <li>
                    <a href="/">P <span class="flip">R</span> IX</a>
                </li>

            </ul>
        </div>
    </div>
    </div>

    <div class="container" style="border-top:1px solid grey;">
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="menu">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">Top </a> </li>
                    <li>
                        <a href="/about">AboutUs</a>
                    </li>

                    <li>
                        {{!-- <a href="Our Project">Project-GitHub</a> --}}
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>