<header>
  THE WEB DEVELOPERS
</header>

{{!-- cards --}}

<div class="scene">
    <label class="card-wrap">
        <input type="checkbox" class="flipcard">
        <div class="cardA">
            <div class="front card-face">
                <img src="https://avatars1.githubusercontent.com/u/55218218?s=400&v=4" alt="Colton"
                    class="card-photo">
            </div>
            <div class="back card-face">
                <h2>Colton Falkner</h2>
                <h3>Backend Developer</h3>
                <h4>Nashville, TN</h4>
                <h5>Contact Me:</h5>
                <a id="links" href="https://github.com/ColtonFalkner">GitHub</a><br>
                <a id="links" href="https://www.linkedin.com/in/colton-falkner-04005931/">LinkedIn</a>
            </div>
        </div>
    </label>
    <label class="card-wrap">
        <input type="checkbox" class="flipcard">
        <div class="cardA">
            <div class="front card-face">
                {{!-- <img src="https://github.com/account" alt="Erin" class="card-photo"> --}}
            </div>
            <div class="back card-face">
                <h2>Erin Taylor</h2>
                <h3>Front-End Developer</h3>
                <h4>Louisville, KY</h4>
                <h5>Contact Me:</h5>
                <a id="links" href="https://github.com/ewtaylor">GitHub</a><br>
                <a id="links" href="https://www.linkedin.com/in/erin-taylor-66979311/">LinkedIn</a> 
            </div>
        </div>
    </label>
    <label class="card-wrap">
        <input type="checkbox" class="flipcard">
        <div class="cardA">
            <div class="front card-face">
                {{!-- <img src="Jose Pic" alt="Jose" class="card-photo"> --}}
            </div>
            <div class="back card-face">
                <h2>Jose</h2>
                <h3>Backend Developer</h3>
                <h4>Nashville, TN</h4>
                <h5>Contact Me:</h5>
                <a id="links" href="https://github.com/JSancL">GitHub</a><br>
                <a id="links" href="https://www.linkedin.com/in/jose-sanchez-6132011a1/">LinkedIn</a>
            </div>
        </div>
    </label>
</div>



{{!-- footer --}}
<footer>
    <div class="footer-top">
        <div class="container">
            <ul class="menu">

                <li>
                    <a href="/">PIX<span class="flip">R</span></a>
                </li>

            </ul>
        </div>
    </div>
    </div>

    <div class="container" style="border-top:1px solid grey;">
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="menu">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">Top </a> </li>
                    <li>
                        <a href="/about">AboutUs</a>
                    </li>

                    <li>
                        <a href="https://coltonfalkner.github.io/PIXR/">Project-GitHub</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>