{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
  
  <a class="navbar-brand" href="/">PIX<span class="flip">R</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item hide-desktop">
        <a class="nav-link" href="/images">My images</a>
      </li>
      <li class="nav-item hide-desktop">
        <a class="nav-link" href="/auth/logout">Logout</a>
      </li>
      <li class="nav-item dropdown">
        {{!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{user.gname}}
        </a> --}}
        {{!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/{{user.id}}/images">My Images</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/auth/logout">Logout</a>
        </div> --}}
      </li>
    </ul>
  </div>
</nav>



<footer>
  <div class="footer-top">
    <div class="container text-center">
      <ul class="menu">

        <li>
          <a href="/">PIX<span class="flip">R</span></a>
        </li>

      </ul>
    </div>
  </div>
  </div>

  <div class="container" style="border-top:1px solid grey;">
    <div class="row text-center">
      <div class="col-lg-12">
        <ul class="menu">

          <li>
            <a href="/">Top </a>
          </li>

          <li>
            <a href="/about">AboutUs</a>
          </li>

          <li>
            <a href="https://github.com/ColtonFalkner/PIXR">Project-GitHub</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</footer>