<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="hero-image">
      <div class="hero-text text-center">

     
        <h1>PIX<span class="flip">R</span></h1>

        <a href="#stop">
          <h3 class="btn" style="border:1px solid white; background-color: transparent;">What We Do
          </h3>
        </a>
        <a href="/role" class="btn" id="start" style="border:1px solid white; background-color: transparent;">Get
          Started</a>
      </div>
    </div>
  </div>
</div>

<div id="stop" style="color: white; visibility:hidden;">Stop here</div>

{{!-- <div id="features" class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 style="color:black; text-align:center; font-size:25px;">
        CLICK EACH PHOTO TO LEARN MORE
      </h2>
    </div>
  </div>
</div>

<div class="scene">
  <label class="card-wrap">
    <input type="checkbox" class="flipcard">
    <div class="cardA">
      <div class="front card-face">
  
        <img src="https://tse1.mm.bing.net/th?id=OIP.Tl602cPZbCrqkOAJJjOn3wHaEK&pid=Api&P=0&w=303&h=171" 
        alt="" class="card-photo">
      </div>
      <div class="back card-face">
        <p id="top-text" style="color:white;">top</p>
        <h4>Are you a Photographer</h4>
        <h4>Want to share your talent?</h4>
        <h4>Awesome! Let's do it!</h4>
      </div>
    </div>
  </label>
  <label class="card-wrap">
    <input type="checkbox" class="flipcard">
    <div class="cardA">
      <div class="front card-face">
        <img src="https://tse2.mm.bing.net/th?id=OIP.o-PAWcynKNerewg8e-M57gHaDi&pid=Api&P=0&w=331&h=159"
          alt="" class="card-photo">
      </div>
      <div class="back card-face">
        <p id="top-text" style="color:white;">top</p>
        <h4>Are you a Blogger?</h4>
        <h4>Looking for inspiration?</h4>
        <h4>You're the Coolest! Let's go!</h4>
      </div>
    </div>
  </label>
  <label class="card-wrap">
    <input type="checkbox" class="flipcard">
    <div class="cardA">
      <div class="front card-face">
        <img src="https://tse4.mm.bing.net/th?id=OIP.Wxak8PRRyhqWLapxGLai1AHaE-&pid=Api&P=0&w=267&h=180"
          alt="" class="card-photo">
      </div>
      <div class="back card-face">
        <p id="top-text" style="color:white;">top</p>
        <h4>Just want to explore images?</h4>
        <h4>Looking to P I X<span class="flip">R</span>to impress?</h4>
        <h4>Then...Let's. Get. Started!</h4>
      </div>
    </div>
  </label>
</div> --}}

<div id="features" class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 id="features" style="color:black; text-align:center;">
        Learn More
      </h2>
    </div>
  </div>
</div>

<div id="features" class="container">
  <div class="row">
    <div class="col-lg-4">
      <img
        src="https://tse1.mm.bing.net/th?id=OIP.Tl602cPZbCrqkOAJJjOn3wHaEK&pid=Api&P=0&w=303&h=171"
        alt="images-icon" class="icons">
      <h5 style="color:black; text-align:center;">
        Want to share your talent? Awesome! Let's do it!
      </h5>
    </div>
    <div class="col-lg-4">
      <img
        src="https://tse2.mm.bing.net/th?id=OIP.o-PAWcynKNerewg8e-M57gHaDi&pid=Api&P=0&w=331&h=159"
        alt="free-icon" class="icons">
      <h5 style="color:black; text-align:center;">
        Are you a Blogger? Looking for inspiration? Cool! Let's go!
      </h5>
    </div>
    <div class="col-lg-4">
      <img
        src="https://tse4.mm.bing.net/th?id=OIP.Wxak8PRRyhqWLapxGLai1AHaE-&pid=Api&P=0&w=267&h=180"
        alt="search-icon" class="icons">
      <h5 style="color:black; text-align:center;">
        Looking to PIXR to impress? Get Started!
      </h5>
    </div>
  </div>
</div>

<div id="features" class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 id="perks-title" style="color:black; text-align:center;">
        The Good Stuff
      </h2>
    </div>
  </div>
</div>

<div id="perks-section" class="container">
  <div class="row">
    <div class="col-lg-4">
      <img
        src="https://tse1.mm.bing.net/th?id=OIP.kz6Hd8RbjroL7VD7PntlmQHaHa&pid=Api&P=0&w=300&h=300"
        alt="images-icon" class="icons">
      <h5 style="color:black; text-align:center;">
        free images from all over the world
      </h5>
    </div>
    <div class="col-lg-4">
      <img
        src="https://tse1.mm.bing.net/th?id=OIP.6lL5jne5OApmLx5NTVhiaQHaHa&pid=Api&P=0&w=300&h=300"
        alt="free-icon" class="icons">
      <h5 style="color:black; text-align:center;">
        free platform for photographers, bloggers, and everyone to share their talent 
      </h5>
    </div>
    <div class="col-lg-4">
      <img
        src="https://tse1.mm.bing.net/th?id=OIP.MWwdfgRk_qQJugu2yCK2qwHaHk&pid=Api&P=0&w=300&h=300"
        alt="search-icon" class="icons">
      <h5 style="color:black; text-align:center;">
        the user provides the images
      </h5>
    </div>
  </div>
</div>

<script>
  $("a[href^='#']").on('click', function (e) {
    // prevent default anchor click 
    e.preventDefault();
  
    var hash = this.hash;
 
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 1000, function () {
     
      // (default click)
      window.location.hash = hash;
    });
  });
</script>

{{!-- footer --}}
<footer>
  <div class="footer-top">
    <div class="container text-center">
      <ul class="menu">

        <li>
          <a href="/">P I X<span class="flip">R</span></a>
        </li>

      </ul>
    </div>
  </div>
  </div>

  <div class="container" style="border-top:1px solid grey;">
    <div class="row text-center">
      <div class="col-lg-12">
        <ul class="menu">

          <li>
            <a href="/">Top </a>
          </li>

          <li>
            <a href="/about">AboutUs</a>
          </li>

          <li>
            <a href="https://coltonfalkner.github.io/PIXR/">Project-GitHub</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</footer>

{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> --}}
