{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Landing Page!</h2>
        <p>Please begin by signing in.</p>
      <a class="btn btn-primary" href="/signin" role="button">Sign In</a>
      <a class="btn btn-primary" href="/signup" role="button">Sign Up</a>
      <a class="btn btn-primary" href="/logout" role="button">Log Out</a>
      </div>
    </div> --}}
<body> 
<div class="jumbotron">
         <h1 class="text-center">PIXR</h1>
     

<div class="container">
	<ul>
		<li><a href="/signin" role="button">Sign In</a></li>
		<li><a href="/signup" role="button">Sign Up</a></li>
		<li><a href="/logout" role ="button">Logout</a></li>

	</ul>
</div>















